
.item {
    display: grid;
    grid-template-rows: 88px 1fr 16px;
    width: 100%;
    padding: 12px;
    height: 240px;
    background: #f8f8f8;
    border-radius: 6px;
}

.item p, .item h3 {
    margin: 0;
}

.item__name {
    min-height: 66px;
    font-weight: 400;
    color: rgb(71, 72, 74);
}

.item__brand {
    font-weight: bold;
}

.item__price {
    color: #a52838;
}