
.items-main-container {
    display: grid;
    grid-template-rows: 1fr 50px;
    position: relative;
}

.items-container {
    display: grid;
    padding: 12px 6px;
    grid-template-columns: repeat(auto-fill, 210px);

    gap: 12px;
    justify-content: center;
    height: calc(100vh - 100px);
    overflow-x: auto;
}

.items-notifications {
    width: 100%;
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.items-notifications p {
    margin: 0;
}